{% extends 'myboard_partials/base.html' %}
{% block title %}Password Reset Page{% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-8 offset-md-2">
            <div class="card my-3">
                <div class="card-body">
                    <h4>Password Reset Page</h4>
                    <hr>
                    <div class="alert alert-info">
                        Enter password and a mail will be sent with instructions to reset password
                    </div>
                        <form method="post">
                            {% csrf_token %}
                            {% include "myboard_partials/form_errors.html" %}
                            <div class="form-group my-2">
                                <label for="email">Email*</label>
                                <input type="text" class="form-control" name="email" id="email"
                                       value="{{ form.email.value|default_if_none:'' }}">
                            </div>
                            <button type="submit" class="btn btn-dark">Send Email</button>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}